body {
    background-color: lightblue;
    transition: all ease 1s;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 20% 0 20%;
}

.blue-title {
    color: blue;
}

#sub-title {
    color: white;
}

.underline {
    text-decoration: underline;
}

form {
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
}

#success {
    background: white;
    width: 90%;
    max-width: 420px;
    margin: 15px auto;
    padding: 30px;
    display: none;
}

#success i {
    font-size: 100px;
    text-align: center;
    color: green;
    width: 100%;
}

#success h2 {
    color: #333;
}

#profile-picture {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

#projects {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    font-size: 42px;
}

#projects a {
    display: block;
    text-align: center;
}

#projects a img {
    display: block;
    margin: 0 auto;
}