body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 20% 0 20%;
}

.blue-title {
    color: blue;
}

#sub-title {
    color: white;
}

.underline {
    text-decoration: underline;
}