@import 'variables';

// GLOBALS
body {
    background-color: lightblue;
    transition: all ease 1s;
    color: white;
    background-image: url('../../images/explosion.gif');
}

h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 20% 0 20%;
    background-color: rgba(0,0,0, 0.6);
}

.blue-title {
    color: $theme-primary;
}

#sub-title {
    color: white;
}

.underline {
    text-decoration: underline;
}

form {
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
}

#profile-picture {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}