@import 'variables';

#projects {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background-color: $theme-primary;
    font-size: 42px;
    a {
        display: block;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
    }

}