@import 'variables';

#success {
    background: white;
    width: 90%;
    max-width: 420px;
    margin: 15px auto;
    padding: 30px;
    display: none;
    i {
        font-size: 100px;
        text-align: center;
        color: $theme-primary;
        width: 100%;
    }

    h2 {
        color: #333;
    }
}